# Git Ignore File - Add whatever is needed here

# VScode
/.vscode/*
puppet-agent

# Mac Files
.DS_Store

# Ansible Retry Files
*.retry

# Ansible Vault Password file
.vault_pass
.idea
ansible.cfg

.vault
.pass
